<div class="row">
  <div class="col-xs-12">
    <div class="col-sm-5">
      <label>Server Name</label>
      <input class="form-control" type="text" [(ngModel)]="serverName" />

      <!-- using local refrences -->
      <input class="form-control" type="text" #serverNameInput />
    </div>
    <div class="col-sm-5">
      <label>Server Content</label>
      <input class="form-control" type="text" [(ngModel)]="serverContent" />
    </div>
    <div class="col-xs-12 m-2">
      <button
        class="btn btn-success mx-2"
        (click)="onAddServer(serverNameInput)"
      >
        Add Server
      </button>
      <button class="btn btn-primary" (click)="onAddBluePrint()">
        Add Blueprint
      </button>
    </div>
  </div>
</div>
